@charset "utf-8";

*{
    list-style-type: none;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    width:100%;    
    height: 7vw;
    background-color: black;
}
.top{
    /* border: 5px solid green; */
    width: 80%;
    height: 7vw;
    margin: auto;
    position: relative;
}
.ham{
    /* border: 5px solid pink;    */
   position: absolute;
   top: 2.5vw;
   left: 0;
}
.top_logo{
    /* border: 5px solid green;  */
    width: 15vw;
    position: absolute;
    top: 1vw;
    left:5vw;
}
.grey_back{
    /* border: 1px solid red; */
    width: 100%;
}
.top_icon_pc{
    /* border: 1px solid red; */
    height: 7vw;
    position: absolute;
    line-height: 7vw;
    top: 0px;
    right: 0px;
   
}
.top_icon_pc li{
    display: inline-block;
    padding: 0 0.1vw;
    /* border: 1px solid red; */
}
.top_icon_pc li a img{
    /* border: 1px solid red; */
    width: 1.7vw;}

.top_icon{
    display: none;
   
}
   

/* <----------------메뉴드롭------------> */
.icon{
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.side_menu{
position: relative;
height: 100%;
width: 0;
background-color: rgb(0, 0, 0);
position: fixed;
top: 0;
left: 0;
overflow: hidden;
z-index: 9999;
padding-top: 100px;
transition: all 0.6s ease;
}

.close{
    position: absolute;
    color: white;
    right: 50px;
    top: 40px;
    z-index: 99;
    width: 30px;
    cursor: pointer;
}

.close li:nth-child(1){
    width: 50px;
    height: 2px;
    transform: rotate(45deg);
    background-color: white;
}

.close li:nth-child(2){
    width: 50px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: white;
}

.menulist{
    font-size: 20px;
    cursor: pointer;
    padding: 5px 5px 5px 30px;
    color: #eeeeee;
}

.menulist li{
    /* border: 1px solid red; */
    margin-bottom: 1vw;
}

.accordion {
    background-color: #eeeeee;
    cursor: pointer;
    padding: 16px;
    width: 90%;
    outline: none;
    border: none;
    text-align: left;
    font-size: 16px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #f5f5f5;
    font-weight: bold;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 16px;
    /* background-color: #ffffff; */
    color: #eeeeee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* border-bottom: 1px solid #eeeeee; */
}
.panel p{
    font-size: 0.8vw;
    margin: 0.5vw 0;
}
.panel p:hover{
    text-decoration: underline;
}

/* <----------------메인 제품 시작--------------> */
.con1_box{
    width: 100%;
    height: 43vw;
    position: relative;
    overflow: hidden;
    background-color: #eeeeee;
}

.mainvisual_1{
    position: absolute;
    top: 0;
    left: -18vw;
    height: 43vw;
}

.mainvisual_2{
    position: absolute;
    top: 0px;
    right: -13vw;
    height: 43vw;
}

.top_text1{
    width: 22vw;
    position: absolute;
    top: 10vw;
    left: 42vw;
    text-align: center;
}

.top_text1 img{
    width: 12vw;
    margin-bottom: 2vw;
}

.top_text1 p{
    /* border: 1px solid red; */
    width: 22vw;
    text-align: center;
    font-size: 1vw;
    font-weight: 800;
    margin-bottom: 2vw;
}

.view_more{
    background-color: black;
    color: #eeeeee;
    padding: 0.7vw 2vw;
    font-size: 0.9vw;
    margin-top: 2vw;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.top_text1 .view_more::after{
    content: '';
    display: block;
    background-color: #7d0215;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    position: absolute;
    top: 0.2vw;
    right: 0.2vw;
}

.view_more:hover{
    opacity: 0.5;
    
}

.con1_mobile{
    display: none;
}

.love{
    margin-top: 10vw;
    width: 100%;
    height: 30vw;
    position: relative;  
}

.mainvisual_love{
    height: 30vw;
    position: absolute;
    top: 0;
    left: 0;
}

.mainvisual_love2{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.con2_box{
    width: 35vw;
    height: 30vw;
    text-align: center;
    position: absolute;
    top: 0;
    right: 5vw;
    font-size: 1vw;
    font-weight: 800;
    
}

.con2_box h3 img{
    margin-top: 6vw;
}

.con2_box p{
    font-size: 1vw;
    margin: 2vw 0px;
}

/*<-------------------------- 시계파트 시작 */

.product{
    position: relative;
    margin-top: 10vw;
}
.mainvisual_4{
    display: none;
}
.w_boxs{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 30vw;
}
.watch_box{
    width: 100%;
    height: auto;
}

.menu{
    position: absolute;
    left: 12vw;
    top: 8vw;
    font-size: 1vw;
    z-index: 99;
}
.menu li{
    padding: 0.5vw 0px;
    font-size: 1vw;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.menu li.is_on {
    font-weight: bold;
    text-decoration: underline;
}
.wrap1{
    position: relative;
    width: 100%;
    height: 30vw;
}
#content1 {
    width: 89vw;
    height: 13vw;
    position: absolute;
    top: 5vw;
    left: 26vw;
    overflow: hidden;
}
#content1 .swiper-pagination{
    position: absolute;
    bottom: -0.3vw;
}
#content1 .swiper-pagination-bullet{
    background-color:#7d0215;
    width: 0.6vw;
    height: 0.6vw;
}
.wrap1 .swiper-wrapper{
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0vw;
    left:0vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.wrap1 .swiper-slide{
    width: 11vw;
    height: auto;
    display: flex;
    overflow: hidden;
    margin-right: 1vw;
    font-size: 0.8vw;
    position: relative;
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide{
    cursor: pointer;
}
.swiper-slide img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.content1 .swiper-wrapper{
    position: absolute;
    top: 0;
    left: 0;
}

.swiper-slide:hover img{
    opacity: 0.3;
}

.swiper-slide p{
    text-align: center;
    position: absolute;
    font-size: 1vw;
    font-weight: 400;
    width: 100%;
    height: 11vw;
    top: 40%;
    left: 0%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.swiper-slide span{
    font-size: 0.6vw;
    font-weight: 400;
    transition: all 0.6s ease-in-out;
}

.swiper-slide:hover p{
    opacity: 1;
}

#content2{
    width: 89vw;
    height: 13vw;
    position: absolute;
    top: 5vw;
    left: 26vw;
    overflow: hidden;
}

#content2 .swiper-pagination{ 
    position: absolute;
    bottom: -0.3vw;
}

#content2 .swiper-pagination-bullet{
    background-color:#7d0215;
    width: 0.6vw;
    height: 0.6vw;
}

#content3{
    width: 89vw;
    height: 13vw;
    position: absolute;
    top: 5vw;
    left: 26vw;
    overflow: hidden;
}

#content3 .swiper-pagination{
    position: absolute;
    bottom: -0.3vw;
}

#content3 .swiper-pagination-bullet{
    background-color:#7d0215;
    width: 0.6vw;
    height: 0.6vw;
}

/* <---------------더보기 영영 */

.all_buttun{
    font-size: 0.9vw;
    position: absolute;
    top: 22vw;
    left: 26vw;
}
.all_buttun:hover{
    font-weight: 700;
}
.btn_group{
    position: absolute;
    top: 18vw;
    left: 26vw;
}
.btn_group img{
    width: 0.5vw;
}

/* <----------------------주얼리 부분 시작-----------------> */

.j_box{
    overflow: hidden;
    width: 100%;
    height: 30vw;
    position: relative;
}
.j_mibile{
    display: none;
}
.title_text{
    font-size: 1.5vw;
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 26vw;
}
.title_text::after{
    content: '';
    display: block;
    border: 0.5px solid rgb(61, 61, 61);
    width: 75vw
}
.j_menu{
    position: absolute;
    left: 12vw;
    top: 8vw;
    font-size: 1vw;
}
.j_menu li{
    padding: 0.5vw 0px;
    font-size: 1vw;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.j_menu li.is_on {
    font-weight: bold;
    text-decoration: underline;
}
#content4{
    width: 89vw;
    height: 13vw;
    position: absolute;
    top: 5vw;
    left: 26vw;
    overflow: hidden;
}
#content4 .swiper-pagination{
    position: absolute;
    bottom: -0.3vw;
}
#content4 .swiper-pagination-bullet{
    background-color:#7d0215;
    width: 0.6vw;
    height: 0.6vw;
}

.content4 li:hover{
    text-decoration: underline;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.warp2{
    position: relative;
    width: 100%;
    height: 30vw;
}

.wrap2.swiper-wrapper{
    background-color: white;
    width: 100%;
    height: 11vw;
    position: absolute;
    top: 0vw;
    left:0vw;
    overflow: hidden;
}

.wrap2 .swiper-slide {
    width: 11vw;
    height: auto;
    display: inline-block;
    overflow: hidden;
    margin-right: 1vw;
    font-size: 0.8vw;
    position: relative;
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.wrap2 .swiper-slide img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.wrap2.swiper-slide:hover img{
    opacity: 0.3;
    transform: scale(1.2);
}
.wrap2.swiper-slide p{
    text-align: center;
    position: absolute;
    font-size: 1vw;
    font-weight: 400;
    width: 100%;
    height: 11vw;
    top: 40%;
    left: 0%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.wrap2.swiper-slide span{
    font-size: 0.6vw;
    font-weight: 400;
    transition: all 0.6s ease-in-out;
}

.wrap2 .swiper-slide:hover p{
    opacity: 1;
}

#content5{
    width: 89vw;
    height: 13vw;
    position: absolute;
    top: 5vw;
    left: 26vw;
    overflow: hidden;
}
#content5 .swiper-pagination{
    position: absolute;
    bottom: -0.3vw;
}

#content5 .swiper-pagination-bullet{
    background-color:#7d0215;
    width: 0.6vw;
    height: 0.6vw;
}

#content6{
    width: 89vw;
    height: 13vw;
    position: absolute;
    top: 5vw;
    left: 26vw;
    overflow: hidden;
}

#content6 .swiper-pagination{
    position: absolute;
    bottom: -0.3vw;
}

#content6 .swiper-pagination-bullet{
    background-color:#7d0215;
    width: 0.6vw;
    height: 0.6vw;
}

/* <------------까르띠에 히스토리 부분 */
.history{
    width: 100%;
    height: 27vw;
    position: relative;
    margin-top: 10vw;
    overflow: hidden;
}

.history_center{
    text-align: center;
}

.left_history{
    height: 27vw;
    position: absolute;
    top: 0;
    left: -2vw;
}

.right_history{
    height: 27vw;
    position: absolute;
    top: 0;
    right: -2vw;
}

.center_history{
    height: 27vw;
    position: absolute;
    top: 0;
    left: 20vw;
}

.history_box{
    width: 35vw;
    position: absolute;
    top: 4vw;
    left: 43vw;
    color: white;
    font-size: 0.9vw;
}

.history_box h3 img{
    width: 10vw;
    margin-bottom: 2vw;
}

.history_box button{
    background-color: rgb(51, 51, 51);
    color: #eeeeee;
    padding: 0.7vw 2vw;
    font-size: 0.9vw;
    margin-top: 2vw;
    text-align: center;
    cursor: pointer;
}

.history_box button:hover{
    opacity: 0.6;
}

/* <-----------------서비스 부분 */
.service{
    overflow: hidden;
    position: relative;
    margin-top: 15vw;
    margin-bottom: 15vw;
    width: 100%;
    /* height: 50vw; */
}
.title_text_c{
    font-size: 1.5vw;
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 26vw;
}
.title_text_c::after{
    content: '';
    display: block;
    border: 0.5px solid rgb(61, 61, 61);
    width: 75vw;
}

.servie-allbox{
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-box{
    margin-top: 70px;
    /* border: 1px solid green; */
    position: relative;
}

.service-box p{
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%,-50%);
    opacity: 0;
}

footer{
    height: 30vw;
    color: white;
    position: relative;
}

.footer_red{
    width: 100%;
    height: 25vw;
    background-color: #7d0215;
    position: relative;
    font-size: 1vw;
}

.foot_left{
    width: 22vw;
    color: white;
    position: absolute;
    top: 10vw;
    left: 11vw;
}

.foot_left h3{
    font-size: 1vw;
}

.foot_left p img{
    width: 2vw;
    position: absolute;
    top: 2vw;
    left: 9vw;
}

.foot_left p::after{
    content: "";
    display: block;
    border: 1px solid white;
    width: 11vw;
    margin-bottom: 2vw;   
}

.foot_left h4{
    font-size:1.2vw; 
}

.foot_center{
    position: absolute;
    height: 17vw;
    top: 0;
    left: 40vw;
    text-align: center;
}

.foot_center h2 img{
    width: 6vw;
    margin-top: 2vw;
}

.foot_center h2 img{
    width: 15vw;
}

.foot_center p{
   margin-top: 2vw;
   font-size: 1.2vw;
}

.foot_right{
    position: absolute;
    top: 9vw;
    right: 13vw;
}

.sns{
    height: 2vw;
}

.sns li{
    display: inline-block;
    vertical-align: top;
}

.sns li img{
    width: 1.1vw;
    height: 1.1vw;
    margin: 0px 1px;
    vertical-align: middle;
}

.sns li:nth-child(1){
    margin-right: -0.2vw;
}

.foot_right h2{
    font-size: 0.8vw;
    margin-bottom: 2vw;
}

.copy{
    position: absolute;
    top: 18vw;
    left: 37vw;
}

.footer_bottom{
    background-color: white;
    width: 100%;
    height: 6vw;
    text-align: center;
}
.footer_bottom a img{
    transform: scale(0.9);
}
.footer_line{
    position: absolute;
    top: 25vw;
    left: 0;
    width: 100%;
    height: 0.5vw;
}

@media all and (max-width:1299px){
    .collection{
        width: 100%;
        height: 14vw;
        overflow: hidden;
    }
    .collection li{
        width: 13vw;
        margin-right: 1vw;
        display: inline-block;

    }
    .collection li img{
        width: 13vw;
    }
    .j_collection{
        width: 100%;
        height: 14vw;
        overflow: hidden;
    }
    .j_collection li{
        width: 13vw;
        margin-right: 1vw;

    }
    .j_collection li img{
        width: 13vw;
    }
    .service{
        height: 40vw;
    }
    .mySwiper5 .swiper-slide{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        width: 28%;
        height: auto;
        cursor: pointer;
        margin-bottom: 0;
    }

}
@media all and (max-width:991px){
    .top{
        width: 95%;
    }
    .ham{
        position: absolute;
        top: 2vw;
    }
    .top_logo{
        left: 5vw;
    }
    .top_icon li{
        width: 3vw;
        text-align: center;
        vertical-align: middle;
    }
    .top_icon li a img{
        width: 2.5vw;
    }
    .mainvisual_1{
        display: none;
    }
    .mainvisual_2{
        right: 0;
    }
    .top_text1{
        left: 10vw;
        top: 5vw;
        width: 40vw;
    }
    .top_text1 img{
        width: 20vw;
    }
    .top_text1 p{
        width: 40vw;
        font-size: 1.7vw;
    }
    .view_more{
        font-size: 1.5vw;
    }
    .love{
        height: 50vw;
        margin-top: 0;
    }
    .mainvisual_love{
        display: none;
    }
    .mainvisual_love2{
        display: block;
    }

    .con2_box{
        width: 53vw;
        left: 0;
        top: 24vw;
    }

    .con2_box p{
        font-size: 1.7vw;
    }

    .con2_box h3 img{
        display: none;
    }

    .w_boxs{
        width: 100%;
        height: 40vw;
    }

    .title_text{
        left: 10vw;
        font-size: 2.5vw;
    }

    .title_text::after{
        width: 300vw;
    }

    .watch_box{
        width: 100%;
        height: inherit;
        position: relative;
    }
   
    .menu{
        position: absolute;
        top: 4.5vw;
        left: 10vw;
    }

    .menu li{
        display:inline-block;
       font-size: 1.5vw;
       margin-right: 1vw;
       height: 3vw;
    }

    .menu li::after{
        content: '';
        display: inline-block;
        border: 0.5px solid #232323;
        height: 2vw;
        margin-left: 1vw;
        vertical-align:bottom;
    }

    .wrap1{
        position: absolute;
        display: flex;
        top: 10vw;
        left: 10vw;
        height: 30vw;
        width: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    #content1{
        height: 15vw;
        width: 100%;
        position: absolute;
        top: 10vw;
        left: 10vw;
    }

    #content2{
        height: 15vw;
        position: absolute;
        top: 10vw;
        left: 10vw;
    }

    #content3{
        height: 15vw;
        position: absolute;
        top: 10vw;
        left: 10vw;
    }

    .wrap1 li{
        width: 10vw;
        height: 17vw;
        margin-right: 3vw;
    }
    
    .wrap1 li img{
        width: 100%;
    }
    
    .wrap1 li p{
        font-size: 1.5vw;
    }

    .wrap1 p span{
        font-size: 1.2vw;
        margin-top: 2vw;
    }

    .all_buttun{
        top: 5.2vw;
        left: 50vw;
        font-size: 1.2vw;
    }

    .btn_group{
        position: absolute;
        top: 31vw;
        left: 10vw;
    }
    
    .j_box{
        width: 100%;
        height: 40vw;
    }

    .j_menu{
        position: absolute;
        top: 4.5vw;
        left: 10vw;
        z-index: 1;
    }
    .j_menu li{
        display:inline-block;
       font-size: 1.5vw;
       margin-right: 1vw;
       height: 3vw;
    }

    .j_menu li::after{
        content: '';
        display: inline-block;
        border: 0.5px solid #232323;
        height: 2vw;
        margin-left: 1vw;
        vertical-align:bottom;
    }

    .wrap2{
        top: 10vw;
        left: 10vw;
        height: 20vw;
        width: 100%;
        overflow: hidden;
    }
    .wrap2 li{
        width: 25vw;
        margin-right: 3vw;
       
    }
    .wrap2 li img{
        width: 20vw;
    }
    .wrap2 li p{
        font-size: 1.5vw;
        line-height: 2vw;
    }
    .wrap2 p span{
        font-size: 1.2vw;
        margin-top: 2vw;
    }
    .wrap2{
        top: 10vw;
        left: 10vw;
        height: 30vw;
        width: 100%;
        overflow: hidden;
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
    }
    #content4{
        height: 15vw;
        position: absolute;
        top: 10vw;
        left: 10vw;
    }
    #content5{
        height: 15vw;
        position: absolute;
        top: 10vw;
        left: 10vw;
    }
    #content6{
        height: 15vw;
        position: absolute;
        top: 10vw;
        left: 10vw;
    }

   .history_center .left_history{
    display: none;
   }

   .history_center .right_history{
    display: none;
   }

   .history{
    overflow: hidden;
    height: 40vw;
   }

   .center_history{
    height: 50vw;
    top: -5vw;
    left: 0;
   }
   .history_box{
    width: 60vw;
    left: 40vw;
    text-align: left;
    font-size: 1.5vw;
   }

   .history h3 img{
    width: 25vw;
    margin-left: 3vw;
   }

   .history_box p{
    padding-left: 4vw;
   }

   .history button{
    margin-left: 4vw;
    font-size: 1.4vw;
    padding: 1vw 3vw;
   }

   .service{
    /* border: 1px solid red; */
    margin-bottom: 10vw;
   }

   .service_all{
    width: 100%;
    top: 10vw;
    left: 0;
   }

   .service_box{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 33vw; */
   }

   .swiper-wrapper .swiper-slide p{
    font-size: 1.2vw;
    font-weight: 600;
   }

   .service_box li{
    width: 30vw;
    overflow: hidden;
    margin: 0 -0.1vw;
   }

   .service_box li img{
     width: 30vw;
   }

   .wrap5 .mySwiper5 p{
    font-size: 1.2vw;
   }

   .footer_red{
    height: 30vw;
   }

   .foot_left{
    top: 12vw;      
   }

   .foot_left h3{
    font-size: 1.7vw;
   }

   .foot_left p a{
    font-size: 1.5vw;
   }

   .foot_left p::after{
    width: 18vw;
   }

   .foot_left h4 a{
    font-size: 1.5vw;
   }

   .foot_center{
    height: 30vw;
   }

   .foot_center h2 img{
    width: 20vw;
   }
   .foot_center p a{
    font-size: 1.5vw;
   }

   .foot_right{
    font-size: 1.5vw;
    top: 12vw;
    right: 15vw;
   }

   .copy{
    position: absolute;
    top:25vw;
    left: 35vw;
    font-size: 1.5vw;
   }

   .footer_line{
    top: 30vw;
    height: 1vw;
   }
   .footer_bottom a img{
    margin: 0 3vw;
   }
}
@media all and (max-width:768px){
    header{
        height: 20vw;
        width: 100%;
    }
    .top{
        height: 20vw;
        width: 100%;
    }
    .top .grey_back{
        width: 100%;
    }
    
    .ham{
        top: 13vw;
        left: 1vw;
        width: 5vw;
    }
    
    .top_logo{
        width: 40vw;
        top: 2vw;
        left: 30vw;
    }
    .top_icon_pc{
        display: none;
    }
    .top_icon{
        display:block;
        position: absolute;
        top: 5vw;
        left: 5vw;
        width: 50vw;
    }
    .top_icon li{
        width: 6vw;
        display: inline-block;
    }
    .top_icon li a img{
        width: 5vw;

    }
    
   
    .menu_drop{
        position: relative;
        width: 100%;
    }
    .side_menu{
        height: 1000vw;
        width: 0%;
        position: absolute;
        top: 19vw;
        left: 0;
    }
    .menulist{
        width: 100%;
    }
    .panel p{
        font-size: 2vw;
    }
    .content1{
        height: 120vw;
        position: relative;
    }
    .con1_box{
        width: 100%;
        height: 80vw;
    }
    .mainvisual_2{
        height:100%;
        left: 1vw;
    }
    .top_text1{
        display: none;
    }
    .con1_mobile{
        display: block;
        width: 85%;
        margin: 0 auto;
        margin-top: 13vw;
        text-align: center;
    }
    .con1_mobile h2{
        font-size: 5vw;
        font-weight: 800;
        line-height: 6vw;
    }
    .con1_mobile p{
        font-size: 2.5vw;
        margin-bottom: 3vw;
    }
    .con1_mobile h3{
        font-size: 3vw;
    }
    .love{
        display: none;
    }
    .w_boxs{
        width: 100%;
        height: 120vw;
        margin-top: 0;
    }
    .mainvisual_4{
        display: block;
        height: 80vw;
    }
    
    .menu{
        left: 0;
        text-align: center;
        width: 100%;
        left: 0;
    }
    .menu li{
        width: 30vw;
        height:inherit;
        text-align: center;
        font-size: 2.5vw;
        background-color: #232323;
        color: white;
        padding: 1vw 1vw;
        font-weight: 300;
        transition: all 0.3s ease-in-out;
    }
    .menu li::after{
        display: none;
    }
    .menu li:hover{
        background-color: #eeeeee;
        color: #232323;
        text-decoration: none;
    }
    .wrap1{
        display: none;
    }
    .all_buttun{
        display: none;
    }
    .btn_group{
        display: none;
    }
    .j_box{
        width: 100%;
        height: 120vw;
        margin-top: 0;
    }
    .j_mibile{
        display: block;
        width: 100%;
        height: 80vw;
        overflow: hidden;
        position: relative;
    }
    .con2_mobile{
        height: 100%;
        position: absolute;
        top: 0vw;
        left: 0;
    }

    .j_all{
        width: 100%;
        position: absolute;
        top: 85vw;
        left: 0vw;
        text-align: center;
    }
    .j_menu{
        left: 0;
        top: 0;
        text-align: center;
        width: 100%;
        
    }
    .j_menu li{
        width: 30vw;
        height:inherit;
        text-align: center;
        font-size: 2.5vw;
        background-color: #232323;
        color: white;
        padding: 1vw 1vw;
        font-weight: 300;
        transition: all 0.3s ease-in-out;
    }
    .j_menu li::after{
        display: none;
    }
    .j_menu li:hover{
        background-color: #eeeeee;
        color: #232323;
        text-decoration: none;
    }
    .wrap{
        display: none;
    }
    .wrap2{
        display: none;
    }
    .wrap .swiper-wrapper{
        width: 100%;
        margin: 0 auto;
    }
    .wrap .swiper-wrapper .swiper-slide{
        width: calc(100% / 3);
    }
    .history{
        background-color: black;
        width: 100%;
        height: 110vw;
        overflow: hidden;
        position: relative;
    }
    .center_history{
        height: 100%;
        top: 0;
        left: 30vw;
        transform: scale(1.3);
    }
    .history_mobile{
        color: #eeeeee;
        background-color: black;
        text-align: center;
        font-size: 3vw;
        padding: 4vw 6vw;
        top: 50vw;
        left: 20vw;
        position: absolute;
    }
    .title_text{
        display:none;
    }
    .title_text::after{
        display: none;
    }
    .history_mobile img{
        width: 20vw;
    }
    
    .history_box{
        display: none;

    }
    
    /* <--------------------서비스 부분 */
   
    .service{
        /* border: 2px solid green; */
        text-align: center;
        margin-top: 10vw;
        height: 200vw;
        width: 100%;
        display: flex;
        /* overflow: hidden; */
        position: relative;
    }

    .title_text_c{
        /* border: 1px solid rebeccapurple; */
        font-size: 6vw;
        top: 0;
        left: 28vw;
        position: absolute;
        top: 0;
    }
    .title_text_c::after{
        display: none;
    }
    .service h4{
        /* border: 1px solid red; */
        font-size: 10vw;
        position: absolute;
        right: 0;
        top: 0;
        
    }
    .mySwiper5{
        /* border: 5px solid red; */
        background-color: #fff;
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        top: 15vw;
        flex-direction: column;
        margin-bottom: 50vw;
    }
    .mySwiper5 .swiper-slide{
        /* border: 2px solid red; */
        width: 70%;
    }
    .mySwiper5 .swiper-slide p{
        font-size: 4vw;
        top: 25vw;
        opacity: 1;
    }
   

    .footer_red{
        height: 60vw;
    }
    .foot_left{
        /* border: 1px solid red; */
        font-size: 3vw;
        width: auto;
        top: 25vw;
        left: 30vw;
        text-align: center;
    }
    .foot_left p::after{
        width: 35vw;

    }
    .foot_left h4 a{
        /* border: 1px solid red; */
        /* left: 0; */
        text-align: left;
        font-size: 3vw;
        position: absolute;
        width: 35vw;
        top: 11vw;
        left: 0vw;
    }
    .foot_left h3{
        font-size: 3vw;
    }
    .foot_center{
        /* border: 1px solid rebeccapurple; */
        top: 7vw;
        left: 27vw;
    }
    .foot_center h2 img{
        width: 47vw;
    }
    .foot_center p a{
        /* border: 1px solid red; */
        position: absolute;
        top: 35vw;
        font-weight: 600;
        font-size: 3vw;
        right: 20vw;

    }
    .foot_right{
        position: absolute;
        top: 5vw;
        left: 35vw;
        
    }
    .foot_right p{
        position: absolute;
        top: 42vw;
        left: -10vw;
        font-size: 2.5vw;
    }
    .foot_right h2{
        position: absolute;
        top: 42vw;
        left: 15vw;
        font-size: 2.5vw;
    }

    .sns{
        /* border: 1px solid red; */
        height: auto;
        position: absolute;
        top: 0vw;
        left: 3vw;
        
    }
    .sns li{
        /* border: 1px solid red; */
        margin: 0 0.5vw;
    }
    .sns li a img{
        /* border: 1px solid red; */
        width:3vw;
        height: auto;
    }
    .copy{
        font-size: 2.7vw;
        top: 54vw;
        left: 20vw;
    }
    .footer_line{
        top: 60vw;
    }
    .footer_bottom{
        /* border: 1px solid red; */
        height: 17vw;
        padding-top: 2vw;
    }
    .footer_bottom a img{
        width: 25vw;
    }    
}

